integrations/n8n/workflows/wazuh-alert-jira-tickets.workflow.json
{
  "id": "wazuh-alert-jira-tickets",
  "name": "Wazuh Alert Jira Tickets - P1 P2 P3",
  "active": false,
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -920,
        -120
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "id": "alert-schedule",
      "name": "Every 15 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -920,
        80
      ]
    },
    {
      "parameters": {
        "command": "sh -lc 'ALERT_AUTOMATION_MODE=collect node /home/node/.n8n/scripts/wazuh-alert-jira-tickets.js'"
      },
      "id": "collect-wazuh-alerts",
      "name": "Collect Wazuh Alerts",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -620,
        -20
      ],
      "notes": "Queries wazuh-alerts-* and stores grouped P1/P2/P3 alerts in /home/node/.n8n/output/alert-jira-triage-latest.json."
    },
    {
      "parameters": {
        "jsCode": "const stdout = $json.stdout || '';\nconst start = stdout.indexOf('{');\nif (start < 0) {\n  return [{ json: { status: 'error', stage: 'collect', message: 'No JSON found in script stdout', raw: stdout, stderr: $json.stderr || '' } }];\n}\nconst parsed = JSON.parse(stdout.slice(start));\nreturn [{ json: { status: 'ok', stage: 'collect', ...parsed, stderr: $json.stderr || '' } }];"
      },
      "id": "parse-alerts",
      "name": "Parse Wazuh Alerts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -340,
        -20
      ]
    },
    {
      "parameters": {
        "command": "sh -lc 'ALERT_AUTOMATION_MODE=ai node /home/node/.n8n/scripts/wazuh-alert-jira-tickets.js'"
      },
      "id": "chatgpt-soc-analysis",
      "name": "ChatGPT SOC Analysis",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -40,
        -20
      ],
      "notes": "Visible AI stage. If AI_ENABLE_ANALYSIS=true, this calls OpenAI/ChatGPT with Wazuh evidence and writes the mitigation analysis back into the latest alert triage JSON."
    },
    {
      "parameters": {
        "jsCode": "const stdout = $json.stdout || '';\nconst start = stdout.indexOf('{');\nif (start < 0) {\n  return [{ json: { status: 'error', stage: 'ai', message: 'No JSON found in script stdout', raw: stdout, stderr: $json.stderr || '' } }];\n}\nconst parsed = JSON.parse(stdout.slice(start));\nreturn [{ json: { status: 'ok', stage: 'ai', ...parsed, stderr: $json.stderr || '' } }];"
      },
      "id": "parse-ai-summary",
      "name": "Parse AI Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        -20
      ]
    },
    {
      "parameters": {
        "command": "sh -lc 'ALERT_AUTOMATION_MODE=jira node /home/node/.n8n/scripts/wazuh-alert-jira-tickets.js'"
      },
      "id": "create-jira-tickets",
      "name": "Create Jira Tickets",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        540,
        -20
      ],
      "notes": "Creates or deduplicates Jira tickets from the latest enriched alert triage JSON. If ChatGPT generated analysis, it is embedded in the Jira description."
    },
    {
      "parameters": {
        "jsCode": "const stdout = $json.stdout || '';\nconst start = stdout.indexOf('{');\nif (start < 0) {\n  return [{ json: { status: 'error', stage: 'jira', message: 'No JSON found in script stdout', raw: stdout, stderr: $json.stderr || '' } }];\n}\nconst parsed = JSON.parse(stdout.slice(start));\nreturn [{ json: { status: 'ok', stage: 'jira', ...parsed, stderr: $json.stderr || '' } }];"
      },
      "id": "parse-jira-summary",
      "name": "Parse Jira Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        820,
        -20
      ]
    },
    {
      "parameters": {
        "command": "sh -lc 'ALERT_AUTOMATION_MODE=telegram node /home/node/.n8n/scripts/wazuh-alert-jira-tickets.js'"
      },
      "id": "telegram-p1-p2-alert",
      "name": "Telegram P1/P2 Alert",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1100,
        -20
      ],
      "notes": "Sends Telegram notifications for P1/P2 alerts when TELEGRAM_ENABLE_ALERTS=true. Uses TELEGRAM_BOT_TOKEN and TELEGRAM_CHAT_ID from .env."
    },
    {
      "parameters": {
        "jsCode": "const stdout = $json.stdout || '';\nconst start = stdout.indexOf('{');\nif (start < 0) {\n  return [{ json: { status: 'error', stage: 'telegram', message: 'No JSON found in script stdout', raw: stdout, stderr: $json.stderr || '' } }];\n}\nconst parsed = JSON.parse(stdout.slice(start));\nreturn [{ json: { status: 'ok', stage: 'telegram', ...parsed, stderr: $json.stderr || '' } }];"
      },
      "id": "parse-telegram-summary",
      "name": "Parse Telegram Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1380,
        -20
      ]
    },
    {
      "parameters": {
        "jsCode": "const results = $json.jiraResults || [];\nconst ticketLinks = results\n  .filter((item) => item.issueUrl)\n  .map((item) => ({\n    key: item.key || '',\n    url: item.issueUrl,\n    action: item.action,\n    priority: item.priority,\n    ruleId: item.ruleId,\n    agentName: item.agentName,\n    aiAnalysis: item.aiAnalysis || 'disabled',\n  }));\n\nreturn [{\n  json: {\n    ...$json,\n    ticketLinks,\n    ticketLinkSummary: ticketLinks.length\n      ? ticketLinks.map((item) => `${item.priority} ${item.ruleId} ${item.key}: ${item.url} (AI: ${item.aiAnalysis})`).join('\\n')\n      : 'No Jira ticket links returned. Check JIRA_CREATE_ALERT_TICKETS, Jira credentials, and dedupe settings.',\n  },\n}];"
      },
      "id": "jira-ticket-links",
      "name": "Jira Ticket Links",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1660,
        -20
      ],
      "notes": "Collects direct Jira URLs returned by the ticket creation stage."
    },
    {
      "parameters": {
        "content": "## Wazuh Alert Jira Tickets\n\n1. Collect Wazuh P1/P2/P3 alerts.\n2. Parse grouped incidents.\n3. Run `ChatGPT SOC Analysis` as a visible AI stage.\n4. Create or deduplicate Jira tickets.\n5. Send Telegram for P1/P2 when enabled.\n6. Return direct Jira links.\n\n`ChatGPT SOC Analysis` calls OpenAI only when `AI_ENABLE_ANALYSIS=true` and `OPENAI_API_KEY` is configured. `Telegram P1/P2 Alert` sends messages only when `TELEGRAM_ENABLE_ALERTS=true`.",
        "height": 340,
        "width": 500
      },
      "id": "workflow-note",
      "name": "Workflow Notes",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -920,
        -560
      ]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Collect Wazuh Alerts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Every 15 Minutes": {
      "main": [
        [
          {
            "node": "Collect Wazuh Alerts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Collect Wazuh Alerts": {
      "main": [
        [
          {
            "node": "Parse Wazuh Alerts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Wazuh Alerts": {
      "main": [
        [
          {
            "node": "ChatGPT SOC Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ChatGPT SOC Analysis": {
      "main": [
        [
          {
            "node": "Parse AI Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Summary": {
      "main": [
        [
          {
            "node": "Create Jira Tickets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Jira Tickets": {
      "main": [
        [
          {
            "node": "Parse Jira Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Jira Summary": {
      "main": [
        [
          {
            "node": "Telegram P1/P2 Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram P1/P2 Alert": {
      "main": [
        [
          {
            "node": "Parse Telegram Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Telegram Summary": {
      "main": [
        [
          {
            "node": "Jira Ticket Links",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "wazuh"
    },
    {
      "name": "jira"
    },
    {
      "name": "chatgpt"
    },
    {
      "name": "telegram"
    },
    {
      "name": "alert-triage"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2026-05-27T00:00:00.000Z",
  "versionId": "wazuh-alert-jira-p1-p2-p3-chatgpt-visible"
}
