integrations/n8n/workflows/wazuh-vulnerability-triage.workflow.json
{
  "id": "wazuh-vulnerability-triage",
  "name": "Wazuh Vulnerability Triage - KEV EPSS Jira",
  "active": false,
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -620,
        -120
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 24
            }
          ]
        }
      },
      "id": "daily-schedule",
      "name": "Daily Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -620,
        80
      ]
    },
    {
      "parameters": {
        "command": "node /home/node/.n8n/scripts/wazuh-vulnerability-triage.js"
      },
      "id": "run-triage-script",
      "name": "Run Wazuh Vulnerability Triage",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -320,
        -20
      ],
      "notes": "Runs the versioned script mounted from integrations/n8n/scripts. Keep credentials in integrations/n8n/.env, not in this workflow."
    },
    {
      "parameters": {
        "jsCode": "const stdout = $json.stdout || '';\nconst start = stdout.indexOf('{');\nif (start < 0) {\n  return [{ json: { status: 'error', message: 'No JSON found in script stdout', raw: stdout, stderr: $json.stderr || '' } }];\n}\nconst parsed = JSON.parse(stdout.slice(start));\nreturn [{ json: { status: 'ok', ...parsed, stderr: $json.stderr || '' } }];"
      },
      "id": "parse-summary",
      "name": "Parse Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -40,
        -20
      ],
      "notes": "The output contains topFindings, risk score, KEV/EPSS enrichment and Jira dry-run or creation results."
    },
    {
      "parameters": {
        "jsCode": "const results = $json.jiraResults || [];\nconst ticketLinks = results\n  .filter((item) => item.issueUrl)\n  .map((item) => ({\n    key: item.key || '',\n    url: item.issueUrl,\n    action: item.action,\n    priority: item.priority,\n    cve: item.cve,\n    agentName: item.agentName,\n  }));\n\nreturn [{\n  json: {\n    ...$json,\n    ticketLinks,\n    ticketLinkSummary: ticketLinks.length\n      ? ticketLinks.map((item) => `${item.key || item.cve}: ${item.url}`).join('\\n')\n      : 'No Jira ticket links returned. Check JIRA_CREATE_TICKETS and Jira credentials.',\n  },\n}];"
      },
      "id": "jira-ticket-links",
      "name": "Jira Ticket Links",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        260,
        -20
      ],
      "notes": "Collects Jira issue URLs returned by the triage script so the final workflow output includes direct ticket links."
    },
    {
      "parameters": {
        "content": "## Wazuh Vulnerability Triage\n\n1. Queries Wazuh Indexer: `wazuh-states-vulnerabilities*`.\n2. Enriches CVEs with CISA KEV and FIRST EPSS.\n3. Calculates business priority P1-P4.\n4. Writes JSON/Markdown evidence to `integrations/n8n/output`.\n5. Creates Jira tickets for all priorities when `JIRA_CREATE_TICKETS=true`.\n6. Returns direct Jira links in `ticketLinks`.\n\nNext phase: insert an AI analysis step between Parse Summary and Jira creation.",
        "height": 300,
        "width": 420
      },
      "id": "workflow-note",
      "name": "Workflow Notes",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -640,
        -500
      ]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Run Wazuh Vulnerability Triage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Daily Schedule": {
      "main": [
        [
          {
            "node": "Run Wazuh Vulnerability Triage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Wazuh Vulnerability Triage": {
      "main": [
        [
          {
            "node": "Parse Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Summary": {
      "main": [
        [
          {
            "node": "Jira Ticket Links",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "wazuh"
    },
    {
      "name": "vulnerability-management"
    },
    {
      "name": "mssp-mvp"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2026-05-21T00:00:00.000Z",
  "versionId": "wazuh-vulnerability-triage-mvp"
}
